In [1]:
import pandas as pd
import os

In [2]:

file_path = r'C:\Users\IKUN\Desktop\League Project\data\ryan_KSante_data.csv'
print(os.path.exists(file_path))

True

In [3]:
timestamp_data = pd.read_csv(r'C:\Users\IKUN\Desktop\League Project\data\ryan_KSante_data.csv')
endGame_data = pd.read_csv(r'C:\Users\IKUN\Desktop\League Project\data\ryans_KSante_EndGame_data.csv')
vision_score_df = pd.DataFrame(timestamp_data.pop('Vision Score'))
timestamp_data

,Match ID,Time Stamp(mins),Champion,Skills,Kills,Deaths,Assists,KDA,Level,Experience,Objectives Assisted,Gold Earned,Current Gold,CS,Jungle CS
0,5190546001,5,K'Sante,"{<Key.Q: 'Q'>: 2, <Key.E: 'E'>: 1, <Key.W: 'W'...",1,1,0,1.000000,5,1583,0,1542,592,18,0
1,5190546001,10,K'Sante,"{<Key.Q: 'Q'>: 4, <Key.E: 'E'>: 1, <Key.W: 'W'...",2,3,0,0.666667,9,4065,0,3248,798,50,0
2,5190546001,15,K'Sante,"{<Key.Q: 'Q'>: 5, <Key.E: 'E'>: 1, <Key.W: 'W'...",4,4,0,1.000000,11,7154,0,5633,983,90,0
3,5190546001,20,K'Sante,"{<Key.Q: 'Q'>: 5, <Key.E: 'E'>: 1, <Key.W: 'W'...",4,5,1,1.000000,13,9327,1,7552,462,120,4
4,5190546001,25,K'Sante,"{<Key.Q: 'Q'>: 5, <Key.E: 'E'>: 2, <Key.W: 'W'...",4,6,2,1.000000,15,11464,2,9200,610,157,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,4848608680,20,K'Sante,"{<Key.Q: 'Q'>: 5, <Key.E: 'E'>: 1, <Key.W: 'W'...",0,3,2,0.666667,14,10583,0,6289,889,155,0
154,4848584382,5,K'Sante,"{<Key.Q: 'Q'>: 3, <Key.E: 'E'>: 1, <Key.W: 'W'...",0,0,0,0.000000,6,2087,0,1480,980,29,0
155,4848584382,10,K'Sante,"{<Key.Q: 'Q'>: 4, <Key.E: 'E'>: 1, <Key.W: 'W'...",1,0,0,1.000000,9,4941,0,3425,1025,70,0
156,4848584382,15,K'Sante,"{<Key.Q: 'Q'>: 5, <Key.E: 'E'>: 1, <Key.W: 'W'...",1,0,2,3.000000,12,7814,2,6373,573,112,0
157,4848584382,20,K'Sante,"{<Key.Q: 'Q'>: 5, <Key.E: 'E'>: 1, <Key.W: 'W'...",2,0,9,11.000000,13,9868,6,8449,49,137,0

In [6]:
timestamp_data["Time Stamp(mins)"].max()

np.int64(30)

In [5]:
endGame_data.head()

,Match ID,Kills,Deaths,Assists,Consumables Purchased,Turret damages,Self-mitigated damage,Longest time spent living,Total damage to champions,Total damage shielded to teammates,Total damage taken,Total wards bought,Game Duration (mins),Duration Category
0,5190546001,6,7,7,1,2220,55530,495,26238,1223,9340,0,29.18,25-30 mins
1,5155664692,9,6,15,1,3992,90841,743,45713,2396,4826,0,39.88,Other
2,5141177564,5,5,5,1,343,69629,658,16538,2717,1319,0,30.07,30-35 mins
3,5139847628,3,4,0,1,2586,31096,691,10583,286,1640,0,22.68,20-25 mins
4,5137360276,6,2,4,1,3042,47051,1009,31104,985,0,0,31.05,30-35 mins

In [7]:
min_5 = timestamp_data[timestamp_data["Time Stamp(mins)"] == 5]
min_10 = timestamp_data[timestamp_data["Time Stamp(mins)"] == 10]
min_15 = timestamp_data[timestamp_data["Time Stamp(mins)"] == 15]
min_20 = timestamp_data[timestamp_data["Time Stamp(mins)"] == 20]
min_25 = timestamp_data[timestamp_data["Time Stamp(mins)"] == 25]
min_30 = timestamp_data[timestamp_data["Time Stamp(mins)"] == 30]

In [49]:
min_5_averages = min_5.mean(numeric_only=True)
min_5_averages_dict = min_5_averages.to_dict()
min_5_averages_dict

{'Match ID': 4967783410.944445,
 'Time Stamp(mins)': 5.0,
 'Kills': 0.25,
 'Deaths': 0.16666666666666666,
 'Assists': 0.027777777777777776,
 'KDA': 0.2777777777777778,
 'Level': 5.916666666666667,
 'Experience': 1973.138888888889,
 'Objectives Assisted': 0.0,
 'Gold Earned': 1553.9722222222222,
 'Current Gold': 876.6111111111111,
 'CS': 28.944444444444443,
 'Jungle CS': 0.0}